@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --font-primary:
    var(--font-red-hat-mono), ui-sans-serif, system-ui, sans-serif;
  --font-secondary: var(--font-lexend);

  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);

  --color-secondary-50: var(--secondary-50);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-900: var(--secondary-900);

  --color-accent-50: var(--accent-50);
  --color-accent-100: var(--accent-100);
  --color-accent-200: var(--accent-200);
  --color-accent-300: var(--accent-300);
  --color-accent-400: var(--accent-400);
  --color-accent-500: var(--accent-500);
  --color-accent-600: var(--accent-600);
  --color-accent-700: var(--accent-700);
  --color-accent-800: var(--accent-800);
  --color-accent-900: var(--accent-900);

  --color-success-100: var(--success-100);
  --color-success-500: var(--success-500);
  --color-success-700: var(--success-700);

  --color-destructive-100: var(--destructive-100);
  --color-destructive-500: var(--destructive-500);
  --color-destructive-700: var(--destructive-700);
  --color-destructive: var(--destructive);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

@layer base {
  * {
    @apply selection:bg-primary-400! selection:text-white!;
  }
  p,
  li {
    @apply font-secondary;
  }
  h2 {
    @apply text-xl! font-bold;
  }
  main {
    @apply flex flex-col h-dvh;
  }
}

@layer components {
  .item-elevated {
    @apply cursor-pointer
    border-[rgb(27,27,27)] border
 relative inline-flex items-center
 rounded-full pl-0.5 pt-0.5
 bg-[rgb(29,29,29)]
 text-sm 
 shadow-md
 bg-[linear-gradient(145deg,rgba(255,255,255,0.35),rgba(255,255,255,0.10)_35%,rgb(29,29,29))];
  }

  .container {
    @apply p-5 pt-10  md:px-8 flex-1;
  }
}
:root {
  --primary-50: #caf4ff;
  --primary-100: #b0edfc;
  --primary-200: #94eaff;
  --primary-300: #7be5ff;
  --primary-400: #31d1fa; /* anchor */
  --primary-500: #1fc8f2;
  --primary-600: #0db8e3;
  --primary-700: #008fc3;
  --primary-800: #027fac;
  --primary-900: #006489;

  --secondary-50: #faf5ff;
  --secondary-100: #f3e8ff;
  --secondary-200: #e9d5ff;
  --secondary-300: #d8b4fe;
  --secondary-400: #c084fc;
  --secondary-500: #a855f7; /* anchor */
  --secondary-600: #9333ea;
  --secondary-700: #7e22ce;
  --secondary-800: #6b21a8;
  --secondary-900: #581c87;

  --accent-50: #fff7ed;
  --accent-100: #ffedd5;
  --accent-200: #fed7aa;
  --accent-300: #fdba74;
  --accent-400: #fb923c;
  --accent-500: #f59e0b; /* anchor */
  --accent-600: #ea580c;
  --accent-700: #c2410c;
  --accent-800: #9a3412;
  --accent-900: #7c2d12;

  --background: #121212;
  --foreground: oklch(0.985 0 0);
  --secondary-foreground: rgb(43, 44, 44);

  --accent-foreground: #e3e3e3;
  --primary-foreground: rgb(30 30 31);

  /* Status */
  --success-100: #dcfce7;
  --success-500: #22c55e;
  --success-700: #15803d;

  --destructive-100: #fee2e2;
  --destructive-500: #ef4444;
  --destructive-700: #b91c1c;
  --destructive: oklch(0.704 0.191 22.216);

  /* Card */
  --card: rgb(42, 42, 42);
  --card-foreground: oklch(0.985 0 0);

  /* Muted */
  --muted: #363535;
  --muted-foreground: oklch(0.705 0.015 286.067);

  /* Popover */
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --radius: 0.625rem;

  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: var(--color-primary-100);
  --spacing-sm: 0.5rem;
  --spacing-md: 2rem;
  --spacing-lg: 3rem;
  --spacing-xl: 5rem;
  --spacing-2xl: 8rem;
  --spacing-3xl: 16rem;
  --spacing-4xl: 32rem;
}
